body{
    justify-content: center;
}

.hide{
    display: none;
}
h1{
    text-align: center;
    color: rgb(240, 50, 16);
	font-size: 2.2em;
}
/* .turn{
    display: none;
} */
.turn{
    margin:auto;
    position: relative;
    text-align: center;
    /* left: 25%; */
    padding: 25%;
    
}

.turn{
    background-color: darkgray;
    width: 320px;
    height: 50px;
    padding: 10px;
    /* align-items: center; */
    
}
.turn .players{
    padding: 10px;
}
.players button{
    background-color: thistle;
    border: none;
    border-radius: 5px;
    padding: 5px;
    font-weight: bold;
    padding-left: 10px;
    margin-left: 10px;
    cursor: pointer;
}
#playerx:hover, #playero:hover{
    transform: scale(1.1);
}

.board{
    display: none;
    margin: auto;
    position: relative;
    text-align: center;
    width: 300px;
    margin-top: 10px;

}
.result{
    display: none;
    margin: auto;
    position: relative;
    text-align: center;
    width: 300px;
    margin-top: 10px;
}


.board .p-turn{
    background: rgb(247, 121, 38);
    padding: 8px;
    color: rgb(139, 0, 109);
    border-radius: 5px;
    font-weight: bold;
}
.playerturn{
    color: rgb(1, 10, 6);
    background-color: yellow;
}
.p-turn #turnx, #turno{
    background-color: aliceblue;
    width: 100%;
    padding: 6px;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
}

.tttboard{
    display: grid;
    grid-template-columns: repeat(3, auto);
    padding: 60px;
    position: absolute;
    /* left: 24%; */

}
.cell{
    background: deepskyblue;
    height: 50px;
    width: 50px;
    margin: 3px;
    font-size: 40px;
    text-align: center;
    transition: transform 0.5s;
    cursor: pointer;
}
.cell:hover{
    background-color: thistle;
    transform: scale(1.1);
    
}

.result{
    /* display:none; */
    background-color: turquoise; 
       
}
.result .won{
    
    padding: 10px;
    color: red;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    
}
.result #replay-btn{
    margin: 5px;
    padding: 5px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    background-color: yellow;
    cursor: pointer;

}
#replay-btn:hover{
    transform: scale(1.1);
}

